*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* some common styles  */
a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.container{
    margin: 7.5%;
}

.btn-primary{
    padding: 12px 16px;
    background-color: #30B868;
    border: 1px solid #30B868;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover{
    background-color: transparent;
    color: #30B868;
}

.btn-secondary{
    padding: 12px 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-secondary:hover{
    background-color: #30B868;
    border-color: #30B868;
    color: #FFFFFF;
}

.section-title{
    margin-bottom: 44px;
}

.section-title h1{
    font-size: 48px;
    color: #001931;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.section-title p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.banner{
    background: url(../assets/hero-bg.png);
}