*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* some common styles  */
a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.container{
    margin: 0 7.5%;
}

.btn-primary{
    padding: 12px 16px;
    background-color: #30B868;
    border: 1px solid #30B868;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover{
    background-color: transparent;
    color: #30B868;
}

.btn-secondary{
    padding: 12px 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-secondary:hover{
    background-color: #30B868;
    border-color: #30B868;
    color: #FFFFFF;
}

.section-title{
    margin-bottom: 44px;
}

.section-title h1{
    font-size: 48px;
    color: #001931;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.section-title p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* Header section styles  */
#navbar{
    margin: 0 7.5%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .navlink{
    display: flex;
    gap: 32px;
}

#navbar .navlink li a{
    color: #000000;
    font-size: 16px;
    opacity: 90%;
}

#navbar .navlink li a:hover{
    text-decoration: underline;
}

.banner{
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content{
    padding: 115px 7.5% 80px;
    text-align: center;
}

.banner-content .access-stat{
    width: fit-content;
    padding: 8px 12px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    margin: 0 auto 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    color: #30B868;
}

.banner-content h1{
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.banner-content h1 span{
    color: #30B868;
}

.banner-content p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.btn-group .btn-primary{
    margin-right: 16px;
}

.btn-group .btn-primary i{
    margin-left: 10px;
}

.btn-group .btn-secondary i{
    margin-right: 10px;
}

/* Notes section styles  */
#notes{
    padding: 0 7.5%;
    background-color: #FBFBFB;
}

#notes .section-title{
    text-align: center;
    padding: 30px;
}

.notes-cards{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.notes-cards .card{
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 -4px 8px 0 #00000009;
    text-align: center;
}

.notes-cards .card .card-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    margin: 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-cards .card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}

.notes-cards .card p{
    font-size: 16px;
    color: #627382;
}

/* second brain section starts here  */
#sec-brain{
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}

#sec-brain .section-info .top-title{
    text-transform: uppercase;
    font-size: 16px;
    color: #30B868;
    margin-bottom: 16px;
}

.section-info .checklist div{
    display: flex;
    gap: 5px;
    margin-bottom: 16px;
}

.section-info .checklist div p{
    font-size: 16px;
    color: #001931;
}

/* Early access section styles  */
#early-access{
    padding: 80px 40px;
    background-color: #F7F6F2;
    border-radius: 12px;
    text-align: center;
}

#early-access .btn-primary{
    margin: 24px 0 16px;
}

#early-access .free-message{
    font-size: 16px;
    color: #627382;
}